package $!{package.Service};

import com.baomidou.mybatisplus.service.IService;
import $!{package.Entity}.$!{entity}Entity;

#set($table.comment = $!table.comment.replace('表',''))
/**
* $!table.comment service接口
* @author:$!cfg.author
* @Time: $!date
* @Copyright: ©  杭州凯立通信有限公司 版权所有
* @Warning: 本内容仅限于公司内部传阅,禁止外泄或用于其它商业目的
*/
public interface I$!{entity}Service extends IService<$!{entity}Entity> {

}
